@keyframes result{
    0% {
        transform: rotate(120deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.resultDiv div::-webkit-scrollbar {
    width:7px;
    height: 7px;
}
.resultDiv div::-webkit-scrollbar-track {
    background-color: transparate;
}
.resultDiv div::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 7px;
}
.resultDiv{
    height: 680px;
    padding: 75px 50px 92px 30px;
    width: 330px;
    margin: 10px auto;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: 150% -150%;
    animation: result 3s;
}
.resultDiv h3{ 
    color: #fffdf2;
    font-size: 43px;
    font-weight: 500;
}
.resultDiv p{ 
    background-color: #a1dad4;
    width: 328px;
    color: #fffdf2;
}
.resultDiv div{ 
    height: 120px;
    padding:5px;
    font-size: 14px;
    font-weight: bold;
    color: #b58f6a;
    overflow: auto;
    overflow-x: hidden;
}
.resultDiv button{ 
    color: #5a5246;
    font-weight: bold;
    background-color: #a1dad4;
    margin-top: 66px;
    border: 0;
    font-size: 12px;
    padding: 5px 17px;
}
.resultDiv img{
    height:150px;
	width:150px;
	object-fit:contain;
    margin: 0 auto;
}